.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.container {
  width: 80%;
  margin: 0 auto; 
}

.bg-danger {
  background-color: red;
}

*{
  font-family: sans-serif;
}


@media (max-width: 568px) {
  .container {
    width: 100%;
  }
}

.default-icons-size{
  font-size: 25px;
}

.c-pointer{
  cursor: pointer;
}


a{
  text-decoration: none;
}


button{
  cursor: pointer;
}

.stars-block img{
  max-width: 20px;
  max-height: 20px;
}
.stars-block {
  margin-bottom: 10px;
}



.ant-pagination-item-active a {
  background-color: #00AC4E !important;
  color: #fff !important;
  border: none;
}

.my-button {
  background-color: #00AC4E;
  color: #fff;
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
}

